/* TEXT SHADOW */

h1 {
    text-shadow: 1px 1px 1px red;
    text-shadow: 3px 2px 5px red, 6px 6px 6px blueviolet;
    /* format hoffset,voffset, blur,color */
}


/* BOX SHADOW */

.box {
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    /* box-shadow: -10px -10px 10px rgb(16, 236, 184),10px 10px 18px orange; */
    box-shadow: inset 10px 2px 2px 2px red;
    border: 2px solid black;
    border-radius: 20px;
    /* border radius makes border curvy */
    outline: 2px solid yellow;
    /* outline is inside ans not the part of box sizing  */
}